@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: flex-start; /* Align children to the top */
    background-color: #013d55; /* Background color */
}

/* New and updated styles */
.cta {
    cursor: pointer;
    display: inline-block;
    background-color: #00BF9C; /* Vibrant color for visibility */
    color: #04224C; /* Contrasting text color */

    padding: 12px 24px; /* Adequate padding */
    margin-top: 20px; /* Space from the preceding text */
    border-radius: 50px; /* Rounded corners for a modern look */
    transition: background-color 0.3s ease; /* Smooth transition for interaction */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make the text bold */
}

.cta:hover {
    background-color: #008BFF; /* Change color on hover for interaction feedback */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow */
    color: #F9C0C0;
}

.main-container {

    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically in the available space */
    width: 100%; /* Take the full width */
}

.audio-player-container {
    width: 80%; /* Make the container take up 80% of the viewport width */
    min-width: 300px; /* Set a minimum width to ensure usability on smaller screens */
    margin: auto; /* Center the player on the page */
    padding: 30px; /* Add some padding around the player
    padding: 20px; /* Add some padding around the player */
    background-color: #F9C0C0; /* A light background */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); /* A subtle shadow */
    text-align: center; /* Center the content */
}


audio {
    width: 100%; /* Make the audio element fill the container */
    outline: none; /* Remove the outline */
    margin-top: 10px; /* Add some space above the player */
}

.audio-name, .cta {
    text-align: center; /* Center-align text for these elements */
    display: block; /* Ensure buttons and text span the full container width */
    margin: 10px auto; /* Center-align block elements */
}

.logo-container {
    width: 100%; /* Full width */
    max-width: 20vw; /* Set a minimum width to ensure usability on smaller screens */
    text-align: center; /* Center-align the logo horizontally */
    padding: 40px 0; /* Some padding on top and bottom */
}

.logo-container img {
    max-width: 90%; /* Ensure the image is not larger than its container */
    height: auto; /* Maintain aspect ratio */
}

.bottom-container {
    position: fixed;
    left: 0;
    right: 0;
    color: #04224C;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 15px; /* Adjust side paddings for content inside container but maintain full width */
    background-color: #00BF9C; /* Or any color that fits your design */
    box-sizing: border-box; /* Ensure padding doesn't affect the total width */
}


/* Add your existing styles here */

/* New styles for the custom audio controls */
#audio-controls {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.playPauseBtn {
    cursor: pointer;
    background-color: #00BF9C; /* Vibrant teal for visibility */
    color: white; /* White text for contrast */
    padding: 10px 20px; /* Adequate padding for better interaction */
    border: none; /* Remove default border */
    border-radius: 25px; /* Rounded corners for a modern look */
    font-size: 16px; /* Slightly larger font for clarity */
    font-weight: bold; /* Bold text to stand out */
    transition: background-color 0.3s ease, transform 0.2s; /* Smooth transition for visual feedback */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    outline: none; /* Remove outline to reduce visual clutter */
}

.playPauseBtn:hover {
    background-color: #008B75; /* Darker shade on hover for interaction feedback */
    transform: scale(1.05); /* Slight increase in size on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover for depth */
}

.playPauseBtn:active {
    background-color: #006D5B; /* Even darker shade for click feedback */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Slightly reduced shadow to simulate pressing */
}




/* Base styles */
.game-rules-container {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #18fc94;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font here */
    max-width: 80vw;

    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center; /* Center text for better mobile readability */
}

.game-rules-container h2 {
    margin-top: 0;
    color: #333;
}

.game-rules-container p {
    margin: 5px 0;
    line-height: 1.6;
    color: #666;
}

.audio-player-container {
    text-align: center; /* Ensures buttons and audio player center on smaller screens */
}

.button-container {
    display: flex;            /* Use Flexbox */
    justify-content: space-around; /* Distribute space around items */
    align-items: center;      /* Align items vertically in the center */
}

.button-container button {
    margin: 5px;              /* Add margin for spacing between buttons */
    padding: 10px 20px;       /* Padding inside each button */
}


.question-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffb6c1; /* Light pink background */
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.question-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.question {
    margin-bottom: 15px;
    font-weight: bold;
}

.answer {
    color: #007BFF;
    font-size: 16px;
}


@media (max-width: 600px) {
    .logo-container img {
        max-width: 80%; /* Adjust logo size on smaller screens */
    }

    .audio-player-container, .game-rules-container {
        width: 95%; /* Use more of the screen width */
        padding: 10px; /* Adjust padding for smaller screens */

    }

    .audio-player-container, .main-container {
        text-align: center; /* This ensures that content inside, including inline-block elements, are centered */
    }

    .audio-player-container button, .cta {
        width: 90%; /* Change from 'auto' to a percentage to ensure it takes up majority of the screen width while centered */
        margin: 10px auto; /* 'auto' margins on left and right can help center block elements */
        display: block; /* Change from inline-block for full width buttons on smaller screens */
    }

    .game-rules-container h2 {
        font-size: 1.25rem; /* Larger text for headings */
    }

    .game-rules-container p {
        font-size: 1rem; /* Adjust paragraph font size for readability */
    }

    .bottom-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%; /* Ensure the container spans the full width */
        padding: 10px 15px; /* Good for smaller screens, adjust as needed */
        text-align: center;
        box-sizing: border-box; /* Ensures padding is included in the width */
    }
    
}




