@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #013d55;
}

.cta, .audio-name {
    cursor: pointer;
    display: block;
    background-color: #00BF9C;
    color: #04224C;
    padding: 12px 24px;
    margin: 10px auto;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.cta:hover {
    background-color: #008BFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    color: #F9C0C0;
}

.main-container, .audio-player-container, .game-rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80vw;
    padding: 20px;
    background-color: #F9C0C0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    
}

.main-container {
    flex-grow: 1; /* Ensure the main container takes the available space */
}
.audio-player-container {
    min-width: 300px;
}

audio {
    width: 100%;
    outline: none;
    margin-top: 10px;
}

.logo-container {
    width: 100%;
    max-width: 20vw;
    text-align: center;
    padding: 40px 0;
}

.logo-container img {
    max-width: 90%;
    height: auto;
}

.bottom-container {
    width: 100%;
    color: #04224C;
    background-color: #00BF9C;
    text-align: center;
    padding: 10px 15px;
    box-sizing: border-box;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-container p {
    margin: 0;
}

.playPauseBtn {
    cursor: pointer;
    background-color: #00BF9C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

.playPauseBtn:hover {
    background-color: #008B75;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.playPauseBtn:active {
    background-color: #006D5B;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.game-rules-container {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #18fc94;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.game-rules-container h2 {
    margin-top: 0;
    color: #333;
}

.game-rules-container p {
    margin: 5px 0;
    line-height: 1.6;
    color: #666;
}

.game-rules-container {
    transition: opacity 0.5s ease-out;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
}

.question-container {
    margin: 10px;
    padding: 10px;
    background-color: #ffb6c1;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.question-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.question {
    margin-bottom: 15px;
    font-weight: bold;
}

.answer {
    color: #007BFF;
    font-size: 16px;
}

.answer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.answer-buttons button {
    cursor: pointer;
    background-color: #00BF9C;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

.answer-buttons button:hover {
    background-color: #008BFF;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.answer-buttons button:active {
    background-color: #006D5B;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.target-decibel-container, .current-decibel-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffb6c1; /* Light pink background */
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.target-decibel-container:hover, .current-decibel-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.next-question-btn {
    font-size: 1.5em; /* Augmentez cette valeur pour une taille de police plus grande */
    padding: 10px 20px; /* Ajoutez du padding pour rendre le bouton plus grand */
    background-color: #00BF9C; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimez les bordures */
    border-radius: 25px; /* Ajoutez des coins arrondis */
    font-weight: bold; /* Rendre le texte en gras */
    cursor: pointer; /* Change le curseur en pointeur */
    transition: background-color 0.3s ease, transform 0.2s; /* Ajoutez des transitions pour des effets visuels */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre subtile */
    outline: none; /* Supprimez l'outline */
}

.next-question-btn:hover {
    background-color: #008B75; /* Changez la couleur de fond au survol */
    transform: scale(1.05); /* Augmentez légèrement la taille au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Ajoutez une ombre plus prononcée au survol */
}

.next-question-btn:active {
    background-color: #006D5B; /* Changez la couleur de fond lors du clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Réduisez l'ombre lors du clic */
}

.result{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;


}

.word-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffb6c1;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.word-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.word-result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}



@media (max-width: 600px) {
    .logo-container img {
        max-width: 80%;
    }

    .audio-player-container, .game-rules-container {
        width: 95%;
        padding: 10px;
    }

    .audio-player-container, .main-container {
        text-align: center;
    }

    .audio-player-container button {
        width: 90%;
        margin: 10px auto;
    }

    .game-rules-container h2 {
        font-size: 1.25rem;
    }

    .game-rules-container p {
        font-size: 1rem;
    }

    .bottom-container {
        padding: 10px 15px;
    }
}

#timerCanvas, #gaugeCanvas {
    display: block;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: transparent;
}
