<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Compter les las</title>
</head>
<body>
<div class="logo-container">
    <img src="{{ url_for('static', filename='images/logo-berte-audition.svg') }}" alt="Berte Audition Logo">
</div>
<div class="main-container">
        <div class="game-rules-container">
            <h2>Game Rules</h2>
            <p>Listen to the sound and count how many times 'La' is mentioned. Hit the 'Play' button to start and the 'Reveal' button to check your answer after your guess.</p>
        </div>

    
<div class="audio-player-container">
    <audio id="myAudio">
        <source src="{{ url_for('static', filename='audio/las/' + audio_file) }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <button id="playPauseBtn">🎶 Jouer les la 🎶</button>
    <button id="reload-button" class="cta" data-audio-folder="las">Nouveau la la la</button>
    <button id="reveal-name-button" class="cta">❗Révéler❗</button>
    

</div>
</div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
