<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Random Sound Player</title>
</head>
<body>
<div class="logo-container">
    <img src="{{ url_for('static', filename='images/logo-berte-audition.svg') }}" alt="Berte Audition Logo">
</div>
<div class="main-container">

        <div class="game-rules-container">
            <h2>Règle</h2>
            <p>Lancez le son. Dès qu'un joueur pense avoir deviné ce dont il s'agit, il énonce sa proposition. 2 joueurs ne peuvent pas faire la même proposition. Une fois que tous les joueurs ont proposé, la réponse est révélée.</p>
        </div>


<div class="audio-player-container">
    <audio id="myAudio">
        <source src="{{ url_for('static', filename='audio/sounds/' + audio_file) }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <button id="playPauseBtn">🎶 Jouer le son 🎶</button>
    <button id="reload-button" class="cta" data-audio-folder="sounds">Nouveau son</button>
    <button id="reveal-name-button" class="cta">❗Révéler ❗</button>
</div>
</div>



    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
